section.first#first
	.container
		span.first__sign
			| Быстрый. Дерзкий
		h1.h1.first__title
			| Велосипед советский
		.wrap-button.first__wrap-button
			a.button.first__button(href="#request" data-scroll-to='')
				span.first__button-txt
					| Заказать