footer.footer
	.container.footer__container
		p.footer__txt
			span.footer__copyright &copy;&nbsp;
			span Свобода. Равенство. Братство
		p.footer__txt.footer__made Сделано в 
			a.footer__link(href="https://petrogradweb.ru/" target="_blank") PetrogradWeb
