-
	const data = {
		header: {
			menu: [
				{
					url: '#',
					name: 'Преимущества'
				},
				{
					url: '.pin-spacer',
					name: 'Видео'
				},
				{
					url: '#request',
					name: 'Контакты'
				}
			]
		},
	};
